.container {
  background-color: white;
  height: 603px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 12px;

  /* Track */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #d9d9d9;
    border-radius: 5px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #bcbcbc;
  }
}

button {
  margin: 0;
  width: 250px;
  height: 60px;
}
