<app-modal [icon]="icon" [isVisible]="true">
  <h3>Fields:</h3>
  <br />
  <p>
    Amount, Financed Amount, Months Needed, Personal Networth, Age, some of Ages
    and Social Number for guarantors not filled!
  </p>
  <br />
  <br />
  <p>
    <strong> Financed Amount </strong>
    must have a lower value then Amount.
  </p>
  <p>
    <strong> Months Needed </strong>
    and Financed must produce a value per month above 80€.
  </p>
  <p>
    <strong> Age </strong>
    must be 18 or up and there should be a difference of more than 17 years from
    Time Working as Independent and Age.
  </p>
</app-modal>
